/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body
{
  background-color: rgba(82, 15, 109, 0.829);
  color: #ffffff;
  font-family: Verdana;
}

.main {
  color: black;
  font-family: Verdana;
  padding-left: 20%;
  height: 100%;
  text-align: center;
}


.hobbies {
  color: black;
  font-family: Verdana;
  padding-left: 20%;
  height: 100%;
  text-align: center;
}

.blurb
{
  background-color:black;
  color: white;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  display: inline-block;
}
/*

*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #f0f34c;
  overflow-x: hidden;
  text-align:center;
  display:block;
  padding:20px;
}


/*
Blog Styles
*/

.blog-container {
  background-color: #f2fbffd3;
  font-family: ms_gothic;
  color: black;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: #b9c3c7d3 10px solid;
  border-right: #b9c3c7d3 8px solid;
  margin: auto;
  max-width: 600px;
  display: block;
}

.blog-post-title
{  
  font-size: 20px;
  color:#cc1105;
  margin:10px;
  font-weight: bold;
  text-align: left; 
}

.blog-content
{  
  font-size: px;
  margin:15px;
  text-align: left;  
}

b {
  font-size: 12px;
  color:#ff00d0;
  margin:10px;
  font-weight: bold;
  text-align: left; 
}